<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>About</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.indigo-pink.min.css">
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' %>
 <!-- <link type="text/css" rel="stylesheet" href="about.scss"> -->

  <%= stylesheet_link_tag  'about', media: 'all'%>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<!-- Uses a transparent header that draws on top of the layout's background -->
<style>

.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}
</style>

<div class="layout-transparent mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout--fixed-header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">About</span>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Scram</span>
    <nav class="mdl-navigation">
    	  <li class="mdl-navigation__link"><%= link_to 'All Submissions', submissions_path %></li>
          <li class="mdl-navigation__link"><%= link_to 'Featured', root_url %></li>
<!--           <li><%= link_to 'Donations', donations_path %></li> -->
          <li class="mdl-navigation__link"><%= link_to 'About', about_path %></li>
          <li class="mdl-navigation__link"><%= link_to 'Contact', contacts_path %></li>
<!--       <a class="mdl-navigation__link" href="">Featured</a>
      <a class="mdl-navigation__link" href="">All Submissions</a>
      <a class="mdl-navigation__link" href="">About</a>
      <a class="mdl-navigation__link" href="">Contact</a> -->
    </nav>
  </div>
 <main class="mdl-layout__content">
  </main>
</div>

<div class="jumbotron">
<p>
	<h1>Scram!</h1>
	<h3>It's time to go...</h3>
	<p>Do you feel the need to travel, but don't have the means? </p>
	<p>Do you have a vision to share, but can't get there? </p>
	<p>Through Scram, we offer youth the opportunity to travel with grants provided by the community.<br> Look at our Submissions page.<br>If you are a young person with a mission, please sign up and share a video essay about where you want to go and what volunteer opportunity you are interested in.  Your submission will be live for one month.<br>Share your submission via social media, with your friends, family and colleagues.<br>Get votes! Get Donations!<br>The youth with the most votes will receive the donations for that month.</p>
	<p>Requirements: </p>
	<p>* Must be between 16 and 21 years of age</p>
	<p>* Must be willing and able to travel within 1 year of winning</p>
	<p>* Must have a valid volunteer opportunity at your travel destination</p>
	<p>* Share your experience by blogging and sharing photos about your experience</p>
</p>
</div>
	
<div class="container-fluid">
  <%= yield %>
</div>
	

	<script defer src="https://code.getmdl.io/1.1.1/material.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>
</html>