<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My Journey</title>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.indigo-pink.min.css">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <li><%= link_to 'All Submissions', submissions_path %></li>
          <li><%= link_to 'Featured', root_url %></li>

          <li><%= link_to 'About', about_path %></li>
          <li><%= link_to 'Contact', contacts_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Account Settings', edit_user_registration_path %></li>
              <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
            </ul>
            </li>
          <% else %>
            <ul class="nav navbar-nav">
              <li><%= link_to 'Sign Up!', new_user_registration_path %></li>
            </ul>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
    <div class="c-wrapper">
      <div id="carousel-example-generic" class="carousel slide carousel-fade">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <%= image_tag 'carousel3.png' %>
            <div class="carousel-caption">
              <h2>Get Out of Town.</h2>
            </div>
          </div>
          <div class="item">
            <%= image_tag 'carousel1.png' %>
            <div class="carousel-caption">
              <h2>Build Your Path.</h2>
            </div>
          </div>
          <div class="item">
            <%= image_tag 'carousel2.png' %>
            <div class="carousel-caption">
              <h2>Find Your Place In the World.</h2>
            </div>
          </div>
        </div>

        <!-- Controls -->
        <center>
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
          <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
          <span class="icon-next"></span>
        </a>
        </center>
      </div>
    </div>

  <div class="container">
    <%= yield %>
  </div>

  <%= javascript_include_tag 'application' %>

  <script defer src="https://code.getmdl.io/1.1.1/material.min.js"></script>
  <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js' %>
</body>
</html>