<h1>All Submissions</h1>

<div class="row">
    <% @submissions.each do |submission| %>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= link_to submission.title, submission %>
          </div>
          <div class="panel-body">
            <%= image_tag submission.user(:thumb) %><br>
            by <%= submission.user %><br />
            <span class="posted-at"><%= submission.created_at.strftime('%e %B %Y') %></span><br />
            <p><%= submission.my_story[0..200]%>... <%= link_to "Read More", submission %></p><br>

          </div>
 
        </div>
      </div>
    <% end %>
</div>

<% if can? :create, Submission %>
<%= link_to 'New Submission', new_submission_path %>
<% end %>