<p id="notice"><%= notice %></p>
<div class="panel panel-primary">
    <div class="panel-heading">
        <%= @submission.title %>
    </div>
    <div class = "panel-body">
        <%= image_tag @submission.user.avatar(:thumb) %><br>
        by <strong><%= @submission.user.id %></strong> <br><span class="posted-at"><%= @submission.created_at.strftime('%e %B %Y') %><br />
        <p><%= @submission.my_story %></p><br />
    </div>
</div>
<div>
    <% if current_user.id == @submission.user.id %>
        <%= link_to 'Edit', edit_submission_path(@submission) %> | 
        <%= link_to 'Back', submissions_path %>
    <% else %>
        <%= link_to vote_submission_path(@submission), class: 'vote', method: :put do %>
        <button type="button" class="btn btn-info" aria-label="Left Align">
            <span class='glyphicon glyphicon-arrow-up'aria-hidden='true'>
            </span>
            <span class='badge'><%= @submission.get_upvotes.size %></span>
        </button>
        <% end %>
    <% end %>
</div>
<br />
<%= form_tag donations_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: $10.00</span>
    </label>
    <p>Donate to <%= @submission.user.first_name %> </p>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Donate to your favorite submission"
          data-amount="1000"
          data-locale="auto"></script>
<% end %>
<br>
<div class = "panel panel-success">
    <div class="panel-heading">
        Make a Comment
    </div>
    <div class="panel-body">
        <%= render 'comments/form' %>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-header">
        <h4>Comments</h4>
    </div>
    <% @submission.comments.each do |comment| %>
        <div class="panel-body">
            <p><strong><%= @comment.user_id %></strong> said: </p>
            <p><%= comment.comment_entry %></p>
        </div>
    <% end %>
</div>
